body{
  margin: 0px;
  background-color: darkorange;
}

#topNav{
  background-color: teal;
  height: 15%;
  margin: 0px;
}

#topNav li{
text-decoration: none;
display: inline;
float: right;
padding-right: 35px;
}

#topNav li:hover{
  background-color: black;
}
#topNav li a{
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  color: orange;
}

#topNav li a:hover{
  color: yellow;
}

#menuNav{
  height: 100%;
  width: 110px;
  background-color: gold;
  border-right: 2px solid black;
  margin: 0px;
  float: left;
  z-index: -999;
  }

#menuNav li{
  list-style: none;
  font-size: 15px;
  padding-top: 25px;
}

#menuNav li:hover{
  background-color: lightseagreen;
}

#menuNav li a{
  text-decoration: none;
  font-family: 'Sansita Swashed', cursive;  font-size: 20px;
  color: teal;
}

#menuNav li a:hover{
  color: yellow;
}


h1{
  font-family: 'Sansita Swashed', cursive;
  font-size: 45px;
}

p{
  font-family: 'Sansita Swashed', cursive;
  font-size: 20px;
}

#DES {
    float: right;
}
img{
  height: 441px;
  width: 641px;
  border-radius: 50px;
}


.staffInfo img {
  height: 350px;
  width: 400px;
  border-radius: 50px;
}

.staffInfo {
  list-style: none;
}

.staffInfo p {

}
div{
  z-index: -99;
}

#sectionOne{
  border: 5px white solid;
}

#CNTCT{
  font-family: 'Sansita Swashed', cursive;
  text-decoration: none;
}

#CNTCT li{
list-style: none;
}
